h1 Your Cart

- if @cart_items.present?
  table.table.table-bordered.table-striped
    thead
      tr
        th Name
        th Quantity
        th Price
        th Total
    tbody
      - @cart_items.each do |cart_item|
        tr
          td = cart_item.product.name
          td = cart_item.quantity
          td = cart_item.product.price
          td = cart_item.product.price * cart_item.quantity

  .total-amount-box
    .total-amount
      strong Total Amount:
      span = @total_amount

  = form_with(url: pay_bill_cart_path(@cart), method: :post) do |form|
    = form.submit 'Pay Bill', class: 'btn btn-primary'

- else
  p Your cart is empty.
























/ h1 Your Cart

/ - if @cart_items.present?
/   table.table.table-bordered.table-striped
/     thead
/       tr
/         th Name
/         th Quantity
/         th Price
/         th Total
/     tbody
/       - @cart_items.each do |cart_item|
/         tr
/           td = cart_item.product.name
/           td = cart_item.quantity
/           td = cart_item.product.price
/           td = cart_item.product.price * cart_item.quantity

/   .total-amount-box
/     .total-amount
/       strong Total Amount:
/       span = @cart_items.sum { |cart_item| cart_item.product.price * cart_item.quantity }


/ - else
/   p Your cart is empty.

/ style type="text/css"
/   | .total-amount-box {
/   |   border: 1px solid #ccc;
/   |   padding: 10px;
/   |   margin-top: 10px;
/   | }
/   | .total-amount {
/   |   font-weight: bold;
/   | }
































/ h1 Your Cart

/ - if @cart_items.present?
/   table.table.table-bordered.table-striped
/     thead
/       tr
/         th Name
/         th Quantity
/         th Price
/         th Total
/     tbody
/       - @cart_items.each do |cart_item|
/         tr
/           td = cart_item.product.name
/           td = cart_item.quantity
/           td = cart_item.product.price
/           td.cart-item-total = cart_item.product.price * cart_item.quantity

/   .total-amount-box
/     .total-amount
/       strong Total Amount:
/       span = @total_amount
/ - else
/   p Your cart is empty.





























/ h1 Your Cart

/ - if @cart_items.present?
/   table.table.table-bordered.table-striped
/     thead
/       tr
/         th Name
/         th Quantity
/         th Price
/         th Total
/     tbody
/       - @cart_items.each do |cart_item|
/         tr
/           td = cart_item.product.name
/           td = cart_item.quantity
/           td = cart_item.product.price
/           td = cart_item.product.price * cart_item.quantity
/ - else
/     p Your cart is empty.



